.light {
  --bg: #f8f8f8;
  --bg-box: #000000;

  --text: #f8f8f8;

  --img-filter: invert(0);
  --icon-filter: invert(1);
  --texture1: #e6e6e6;
  --texture2: #f5f5f5;
  --bg-shadow: rgb(163, 239, 241);
  --bg-solar: #00ccff;
}

.dark {
  --bg: #000000;
  --bg-box: white;
  --img-filter: invert(1);
  --icon-filter: invert(0);
  --text: #000000;
  --bg-solar: rgb(255, 225, 56);
  --bg-shadow: #e7e18acb;
  --texture1: rgba(255, 255, 255, 0.1);
  --texture2: black;
}

html {
  height: 100%;
}
body {
  background-color: var(--bg) !important;
<<<<<<< HEAD
=======
  position: relative;
>>>>>>> 4bda309bbf147ef9c882360f3be10cd0f1f6d968
  margin: 0;
  padding: 0;
  font-family: "Mate SC", Arial, sans-serif;
  /* background: var(--bg); */
  background: radial-gradient(var(--texture2) 15%, transparent 16%) 0 0,
    radial-gradient(var(--texture2) 15%, transparent 16%) 8px 8px,
    radial-gradient(var(--texture1) 15%, transparent 20%) 0 1px,
    radial-gradient(var(--texture1) 15%, transparent 20%) 8px 9px;

  background-size: 16px 16px;
  transition: background 500ms ease-in-out, color 1000ms ease-in-out;
<<<<<<< HEAD
}
img {
  filter: var(--img-filter);
  margin: 1vh;
}
.icons {
  color:var(--text);
  text-align: center;
  width: 100%;
  
}
.icon{
  /* filter: var(--icon-filter); */
  color:var(--bg);
  padding: 0 3vh;
  display: inline-block;
  transform: scale(2);
  height: 2px;
  transition:color 0.2s ease-in-out;
}
.icon:hover{
  color: var(--bg-solar);
}
.login-box {
  /* z-index: 5; */
  position: absolute;
=======
}
img {
  filter: var(--img-filter);
  margin: 1vh;
}
.icons {
  color: var(--text);
  text-align: center;
  width: 100%;
}
.icon {
  /* filter: var(--icon-filter); */
  color: var(--bg);
  padding: 0 3vh;
  display: inline-block;
  transform: scale(2);
  height: 2px;
  transition: color 0.2s ease-in-out;
}
.icon:hover {
  color: var(--bg-solar);
}
.login-box {
  /* z-index: 5; */
  position: relative;
>>>>>>> 4bda309bbf147ef9c882360f3be10cd0f1f6d968
  top: 50%;
  left: 50%;
  width: 80vh;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: var(--bg-box);
  box-sizing: border-box;
  /* box-shadow: 0 15px 25px var(--bg-shadow); */
  border-radius: 10px;
}

<<<<<<< HEAD
.login-box h3{
=======
.login-box h3 {
>>>>>>> 4bda309bbf147ef9c882360f3be10cd0f1f6d968
  font-size: 1.7rem;
  margin: 0 0 30px;
  /* padding-bottom: 2vh; */
  color: var(--bg-solar);
  text-align: center;
}
.login-box h2 {
  /* text-align: center; */
  font-size: 2rem;
  /* text-decoration: underline; */
  margin: 0 0 30px;
  padding: 2vh 0;
  color: var(--bg-solar);
  text-align: center;
  /* border-bottom: 1px solid white ; */
  /* width:25vh */
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: var(--text);
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid var(--text);
  outline: none;
  background: transparent;
}
.login-box .user-box label {
<<<<<<< HEAD
  position: absolute;
=======
  position: relative;
>>>>>>> 4bda309bbf147ef9c882360f3be10cd0f1f6d968
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: var(--text);
  pointer-events: none;
  transition: 0.5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: var(--text);
  font-size: 12px;
}

.login-box form .submit-button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: var(--bg-solar);
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
}

.login-box .submit-button:hover {
  background: var(--texture2);
  color: var(--bg-box);
  border-radius: 5px;
  box-shadow: 0 0 5px var(--bg-shadow), 0 0 25px var(--bg-shadow),
    0 0 50px var(--bg-shadow), 0 0 100px var(--bg-shadow);
}

.btn {
  transform: scale(1.3);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(0, -45%) scale(1.2);
}

.login-box .submit-button span {
<<<<<<< HEAD
  position: absolute;
=======
  position: relative;
>>>>>>> 4bda309bbf147ef9c882360f3be10cd0f1f6d968
  display: block;
  /* transform:translate(-50%,0) */
}

.login-box .submit-button span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, var(--bg-solar));
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

.login-box .submit-button span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, var(--bg-solar));
  animation: btn-anim2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

.login-box .submit-button span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, var(--bg-solar));
  animation: btn-anim3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

.login-box .submit-button span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, var(--bg-solar));
  animation: btn-anim4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}

@media all and (max-width: 768px) {
  h2 {
    font-size: 1.5rem;
  }
<<<<<<< HEAD
  h3{
=======
  h3 {
>>>>>>> 4bda309bbf147ef9c882360f3be10cd0f1f6d968
    font-size: 1.27rem;
  }

  .login-box {
<<<<<<< HEAD
    min-width: 30vh;
    width: 40vh;
    height: auto;
  }
  .icon{
padding: 0 2vh;
}
=======
    min-width: 40vh;
    width: 40vh;
    /* height: auto; */
  }
  .icon {
    padding: 0 2vh;
  }
>>>>>>> 4bda309bbf147ef9c882360f3be10cd0f1f6d968
}
