/* themes */
:root {
  --gray0: #f8f8f8;
  --gray1: #dbe1e8;
  --gray2: #b2becd;
  --gray3: #6c7983;
  --gray4: #454e56;
  --gray5: #2a2e35;
  --gray6: #12181b;
  --blue: #0084a5;
  --purple: #a82dd1;
  --yellow: #ffee00cb;
  --black: #000000;
  --offwhite: #f8f9fa;
  --opwhite: rgba(255, 255, 255, 0.1);
}

.light {
  --bg: var(--gray0);
  --bg-nav: var(--black);
  --nav-text: var(--offwhite);
  --text: var(--gray6);
  --bg-solar: var(--yellow);
  --timer-headline: gold;
  --cursor-color: var(--blue);
  --img-fiter: invert(1);
  --texture1: #e6e6e6;
  --texture2: #f5f5f5;
}

.dark {
  --bg: var(--black);
  --bg-nav: var(--offwhite);
  --nav-text: var(--black);
  --text: var(--gray0);
  --bg-solar: var(--blue);
  --timer-headline: wheat;
  --cursor-color: var(--blue);
  --img-fiter: invert(0);
  --texture1: var(--opwhite);
  --texture2: var(--black);
}

/* .solar {
    --gray0: #fbffd4;
    --gray1: #f7f8d0;
    --gray2: #b6f880;
    --gray3: #5ec72d;
    --gray4: #3ea565;
    --gray5: #005368;
    --gray6: #003d4c;
} */

/* general styling */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Mate SC", Arial, sans-serif;
}
html,
body {
  height: 100%;
  margin: 0;
}

#toggle {
  /* transform: translate(20%, 0); */
  margin-right: 0;
  padding-right: 0;
}

.nav-item {
  margin-right: 2vh;
  /* font-weight:bolder; */
  font-size: 1.5em !important;
  width: 125px;
  height: 50px;
  color: var(--nav-text);
  transition: color 250ms ease-in-out;
  /* text-align: center; */
}
.nav-item:hover {
  color: var(--bg-solar);
}
.menubutton {
  color: var(--bg-solar);
}
.navigator {
  /* margin: 10px; */
  border: 1px solid white;
  margin-bottom: 7vh;

  /* display: flex; */
  /* border-radius: 20px; */
}

.navbar {
  min-height: 5vh;
  
  background: var(--bg-nav);
  color: var(--text);
}

@keyframes color-rotate {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}
.svg {
  filter: var(--img-fiter);
}

body {padding-top: 70px;
  margin-top: 5vh;
  align-items: center;
  background-color: var(--bg) !important;
  display: flex;
  padding-top: 5vh;
  color: var(--text);

  background: radial-gradient(var(--texture2) 15%, transparent 16%) 0 0,
    radial-gradient(var(--texture2) 15%, transparent 16%) 8px 8px,
    radial-gradient(var(--texture1) 15%, transparent 20%) 0 1px,
    radial-gradient(var(--texture1) 15%, transparent 20%) 8px 9px;

  background-size: 16px 16px;
  transition: background 500ms ease-in-out, color 1000ms ease-in-out;
  /* background: url(/resources/images/4.png); */
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; */
}

.timer {
  text-align: center;
}
.container {
  /* background-color: black; */
  display: block;
  color: var(--text);
  left:0; right:0;
  width:100%;
  text-align: center;
  border-radius: 30px;
  /* margin-bottom: 100vh; */
}

h1 {
  font-weight: normal;
  letter-spacing: 0.125rem;
  text-transform: capitalize;
  text-align: center;
}
h4 {
  text-transform: capitalize;
  color: var(--text);
}
#headline {
  font-size: 80px;
  /* font-family: 'Mate SC', Arial, sans-serif; */
}
li {
  /* font-family: 'Mate SC', Arial, sans-serif; */
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}
li span {
  display: block;
  font-size: 4.5rem;
}
@media all and (max-width: 768px) {
  h1 {
    font-size: 1.5rem;
  }

  li {
    font-size: 1.125rem;
    padding: 0.75rem;
  }

  li span {
    font-size: 3.375rem;
  }
  .container {
    margin-top: 10vh;
    margin-bottom: 10vh;
  }
  img {
    height: 50px;
  }
  #toggle {
    transform: translate(70%, 0) scale(0.6);
    margin-bottom: 2vh;
  }
  #headline {
    font-size: 55px;
    /* font-family: 'Mate SC', Arial, sans-serif; */
  }
}


